[submodule ".config/awesome"]
	path = .config/awesome
	url = git://github.com/tony/awesome-config.git
[submodule ".vim"]
	path = .vim
	url = git://github.com/tony/vim-config.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
